{% extends "layout.html" %}

{% block body %}	

<style>td {float: right; width: 11.11%}</style>
<style>b {font-size: 13px; float: right;color: blue;}</style>
<style>b2 {font-size: 13px;float: left;color: black;}</style>


<h2 align="center">
        {% if caloNum|int > 1 %}
        <a class="fa fa-caret-square-o-left fa-lg" aria-hidden="true" href="/calo_vis/{{ caloNum|int - 1 }}"></a>
        {% endif %}
        {% if caloNum|int < 24 %}
        <a class="fa fa-caret-square-o-right fa-lg" aria-hidden="true" href="/calo_vis/{{ caloNum|int + 1 }}"></a>
        {% endif %}
        <br>
        <div class="page-break"></div>
        Calorimeter {{ caloNum }}
</h2>

<table class="table table-hover table-condensed table-bordered">
    {% set count = 0 %}
    {% for crystal_serial_num, sipm_id, calo_xtal_num, breakoutboard, pentapus_cable in rows %}
    {% set count = count + 1 %} 
    {% if count % 9 == 1 %}<tr>{% endif %}
            <td><b2>LOC:</b2> <b>{{ calo_xtal_num }}</b>
            <br><b2>Xtal:</b2> <b>{{ crystal_serial_num }}</b>
            <br><b2>SiPM:</b2> <b>{{ sipm_id }}</b>
            <br><b2>BEAG:</b2> <b>{{ breakoutboard }}</b>
            {% set slot1, slot2 =  breakoutboard.split('-') %}
            <br><b2>SIG:</b2> <b>{{ pentapus_cable }}</b> 
            <br><b2>HDMI:</b2> <b>{% if slot2|int > 10 %}S-{{ calo_xtal_num + 1 }} {% else %}L-{{ calo_xtal_num + 1 }} {% endif %}</b>
        </td>
        {% if calo_xtal_num % 9 == 0 %}</tr>{% endif %} 
    {% endfor %}
</table>

<p id="demo"></p>

<script>
document.getElementById("demo").innerHTML = 'Generated: ' + Date();
</script>

{% endblock body %}
