<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{{ url_for('static', filename='css/circle.css')}}" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </head>

    <body>

        Number of calos: <input type="text" value="24"/> 
        <br>
        <br>
        <div id="container">
                <!--     <div id="center"></div> 
                    <div id="crosshair-x"></div>
                    <div id="crosshair-y"></div>
                -->
        </div>

        <script src="{{ url_for('static', filename='js/circle.js')}}"></script>
    </body>

</html>
