{% extends "layout.html" %}

{% block body %}	

<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
        <h3 class="panel-title">Fiber</h3>
      </div>
      <div class="col col-xs-6 text-right">
        <button type="button" class="btn btn-sm btn-primary">Edit</button>
        <button type="button" class="btn btn-sm btn-primary">Create New</button>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover table-condensed table-bordered table-list text-nowrap">
        <thead>
          <tr class="filters">
            <th class="text-center"><i class="fa fa-cog"></i></th>
            <th>Bundle ID</th>
            <th>Fiber ID</th>
            <th>Pout</th>
            <th>Prism ID</th>
          </tr>
        </thead>

        <tbody>
          {%- for bundle_id, fiber_id, p_out, prism_id in rows%}
          <tr>
            <td align="center">
              <a class="btn btn-default"><i class="fa fa-pencil"></i></a>
              <a class="btn btn-danger"><i class="fa fa-trash"></i></a>
            </td>
            <td>{{ bundle_id }}</td>
            <td>{{ fiber_id }}</td>
            <td>{{ p_out }}</td>
            <td>{{ prism_id }}</td>
          </tr>
          {%- endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col col-xs-4">Page 1 of 5
      </div>
      <div class="col col-xs-8">
        <ul class="pagination hidden-xs pull-right">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
        <ul class="pagination visible-xs pull-right">
          <li><a href="#">«</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>

{% endblock body %}
